{% include 'header.html'%}
<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis bibendum ex, ut scelerisque lorem varius eu. Nullam lobortis fringilla nulla, vel mattis elit mattis et. Fusce varius tellus eu lectus dapibus, in gravida est aliquet. Sed auctor elit vel sapien dictum, at elementum risus tincidunt.</p>
        <p>Integer in consectetur eros, vel feugiat ipsum. In ullamcorper orci eu mauris pretium varius. Praesent gravida, quam eget rutrum malesuada, velit justo rhoncus est, a feugiat elit lacus eu orci. Nullam id faucibus tellus. Integer in lectus quis mauris semper rhoncus a quis velit. Fusce lobortis aliquam mauris, eget pellentesque risus euismod in. In hac habitasse platea dictumst.</p>
      </div>
      <div class="col-md-4">
            <h1>About my company</h1>
      </div>
    </div>
  </div>
{% include 'footer.html'%}
